<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<meta name="description" content="Zena Roses Limited, Eldoret Kenya, grower and exporter of high quality cut flowers.">
	<meta name="keywords" content="Zena, Roses, Eldoret, Kenya, cut, flowers, carnations, greenhouse, agriculture, horticulture, Limited, Company, Plateau, Asai, naiberi, Farm, sosiani">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link rel="icon" href="./images/icon.jpg">
	<title>Zena Roses Limited</title>
</head>
<body>
	<header>
		
	</header>

	<main>
		
	</main>
	
	<footer>
		
	</footer>
</body>
</html>